.image_box {
  max-width: 50px;
  cursor: pointer;
}
.profile_img {
  object-fit: cover !important;
}
.drop__down {
  top: 100%;
  right: 0;
  margin-top: 10px;
  max-width: 300px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 0.5s;
}
.drop__down-list {
  padding: 10px;
  min-width: 150px;
}
.profile__box:hover > .drop__down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
