.meeting__page {
  height: 100vh;
}
.meeting__box {
  transition: 0.5s;
  border-radius: 10px;
}
.vedio__box {
  width: 50%;
  height: 50%;
}
.video {
  width: 100% !important;
  max-height: 100% !important;
}
