.create_room__modal-background {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.create_room__modal {
  width: 100%;
  max-width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 99999;

  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  animation: modal-box 1s ease-in-out;
}

.showModal {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
