.paragraph__text {
  font-size: 16px !important;
}
.primary__heading {
  font-size: 28px !important;
}
.color_secondary {
  color: #10486c !important;
}
.color_primary {
  color: #39b1ff !important;
}
